@import 'variables';

.Results{
    background-color: $backgroung_grey_color;
    height: 100vh;
}

.ResultsContainer{
    @include maxWidth;
    padding-top:20px;
    margin: 0 auto;
    .ResultsForMapAndPlan{
        @include flexCenter;
        margin:0 20px 0 20px;
    }
}
.PlanResults{
    width:80%;
    flex-direction: column;
    overflow-y: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
    .PlansWrapper{
        margin-bottom: 10px;
        border: $input_border_color solid 2px;
        background-color: $white;
        width:100%;
        border-radius: 10px;
        padding:10px 20px;
        @include flexCenter;
        flex-direction: column;
        cursor: pointer;
        &:hover{
            border-color: $main_color;
        }
        .LinkBtnForMap{
            color:$black;
        }
    }
}
@media screen and (max-width:750px) {
    .ResultsForMapAndPlan{
        flex-direction: column;
        @include flexCenter;
    }
    .PlanResults{
        height:60%;
        width:70%;
        margin-bottom: 20px;
    }
}

