@import 'variables';

.SearchContainer{
    border:solid 5px $main_color;
    border-left: none;
    border-right: none;
    background-color: $backgroung_grey_color;
    padding: 20px 0;
    width:100%;
    @include flexCenter;
    form{
        @include maxWidth;
        display: flex;
        flex-direction: column;
    }
}

//Inputs Container
.SearchBarContainer{
    @include flexCenter;
    margin:10px;
    .SearchInput{
        position: relative;
        display: flex;
        margin-right: 20px;
        @include flexCenter;
        p{
            font-weight: bold;
            margin-right: 5px;
        }
        input{
            width:200px;
            height:40px;
            border-radius: 20px;
            padding:10px;
            font-size: 1rem;
            border: $input_border_color 2.5px solid;
            &:focus{
                border-color: $main_color;
            }
        }
        .CurrentLocationIcon{
            position: absolute;
            right:10px;
            cursor: pointer;
        }
    }
}

//Search Button Container
.SearchBtnContainer{
    @include flexCenter;
    margin-top: 10px;
    .SearchBtn{
        position: relative;
        @include flexCenter;
        width:50%;
        height:35px;
        background-color: $white;
        border-radius: 20px;
        font-size: 1.2rem;
        cursor: pointer;
        border: $input_border_color 2px solid ;
        color:$main_color;
        transition: all ease-in-out 0.2s;
        z-index:1;
        overflow: hidden;
        &:hover{
            border-color: $main_color;
        }
        img{
            position: absolute;
            z-index: -1;
            width: 60%;
            left:-55%;
            animation: tramLoading 3s ease-in infinite;
            @keyframes tramLoading {
                from{
                    left: -55%;
                }
                to{
                    left:100%;
                }
            }
        }
        .LoadingComplete{
            display: none;
        }
    }
    .Loading{
        color:transparent;
    }
}

//Responsive
@media screen and (max-width:750px) {
    .SearchContainer{
        border-bottom: none;
        padding: 0;
    }
    .SearchBarContainer{
        flex-direction: column;
        margin-bottom: 0;
        .SearchInput{
            margin:0 auto;
            margin-bottom: 10px;
            margin-right: 0;
            @include flexCenter;
            p{
                display: none;
            }
            input{
                height:30px;
                font-size: 0.8rem;
            }
        }
    }
    .SearchBtnContainer{
        margin:0 auto;
        width: 100%;
        .SearchBtn{
            width:100%;
            height: 25px;
            font-size: 0.8rem;
            img{ 
                top:-54px;
            }
        }
    }
}
